{% extends 'base.html'%}
{% block head%}
  <link rel="stylesheet" href="{{url_for('static', filename='css/services.css')}}">
{% endblock %}


{% block content %}
    <section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>
    

    <div class="box-container" >

        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>Affordable Hotels</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Food and Drinks</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>Safety Guide</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>Around the World</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

        <div class="box">
            <i class="fas fa-plane"></i>
            <h3>Fastest Travel</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

        <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>Adventures</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum maxime exercitationem saepe, tenetur consequuntur
            molestias dolorem quasi laborum repudiandae inventore culpa deleniti veritatis illo ad fugiat veniam repellat vitae.
         Consectetur?</p>
        </div>

    </div>
  </section>

  {% endblock %}